@import "tailwindcss";
@config "../tailwind.config.js";
@layer components {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  
  .glass-card {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
  
  .primary-gradient {
    background: linear-gradient(135deg, #4648d4 0%, #006c49 50%, #008096 100%);
  }
  
  .primary-gradient-text {
    background: linear-gradient(135deg, #4648d4 0%, #006c49 100%);
    -webkit-background-clip: text;
    background-clip: text; /* Đã thêm dòng này để fix cảnh báo tương thích */
    -webkit-text-fill-color: transparent;
  }
  
  .no-scrollbar::-webkit-scrollbar { 
    display: none; 
  }
  
  .no-scrollbar { 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}